@import 'tailwindcss';

@layer components {
    .leaderboard-column {
        flex: 1;
        padding: 0.5em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .leaderboard-header {
        font-weight: bold;
        font-size: 2dvh
    }

    .leaderboard-element {
        font-size: 2.5dvh;
        text-overflow: '-';
        text-wrap: nowrap;
        overflow: hidden;
    }
}